# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Libtool
*.la
*.lo
*.Po
*.Plo
.libs
.deps

# Autotools generated
Makefile
Makefile.in
stamp-h1

# Xcode project state
project.xcworkspace
xcuserdata
